#Imports: Biobase, graphics, grDevices, methods, stats, tools, utils

importMethodsFrom(Biobase, exprs)

importFrom(graphics, plot, points)

importFrom(grDevices, replayPlot)

importFrom(methods, is, showClass, showMlist)

importFrom(stats, as.ts, coef, dendrapply, deviance, df, end, formula,
           frequency, integrate, IQR, is.leaf, knots, naprint, nlm, pf,
           pnorm, print.anova, printCoefmat, pt, quantile, reformulate,
           residuals, start, symnum, terms, time, ts, tsp, var,
           write.ftable)

importFrom(tools, file_path_sans_ext)

importFrom(utils, browseURL, menu, str, toBibtex, zip.file.extract)


export("lapmix.Fit","laptopTable","lap.volcanoplot")